* {
  font-family: "Courier Prime", monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* NAVIGATION BAR*/
header {
  padding: 1.5vw;
  background-color: white;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5vw;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  transition: 0.3s ease;
}

a:hover {
  color: #c47e00;
}

.logo {
  width: 12vw;
  max-width: 100%;
  min-width: 7rem;
  max-height: 100%;
  object-fit: contain;
  padding: 0.5vw;
  transition: 0.3s ease;
}
.logo:hover {
  width: 10.3vw;
}

/*Welcome and Skills section*/

#welcomesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
h2 {
  color: #c47e00;
  font-size: 20px;
  margin: 10px;
}

p {
  font-size: 15px;
  margin: 2px;
}

#skillscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vw;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}

#skills {
  display: flex;
  justify-content: center;
}

.skill-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3vw;
  width: 5vw;
}
.skill-window img {
  width: 5vw;
  object-fit: contain;
}
.skill-window p {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

/*Portfolio section*/
.portfolio-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.grid {
  margin: 0 auto;
}

.grid,
.grid-item {
  box-sizing: border-box;
}

/* Column width controller */
.grid-sizer,
.grid-item {
  max-width: 300px; /* desktop: 4 columns */
  margin-bottom: 20px;
}

.grid-item img {
  width: 100%;
  display: block;
}

/* Responsive breakpoints */
@media (max-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 400px; /* 3 columns */
  }
}

@media (max-width: 900px) {
  .grid-sizer,
  .grid-item {
    width: 450px; /* 2 columns */
  }
}

@media (max-width: 500px) {
  .grid-sizer,
  .grid-item {
    width: 500px; /* 1 column */
  }
}
